<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
            function goBack() {

                window.history.back();
            }
    </script>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    @if (User.IsInRole("Manager"))
    {
        @Html.Partial("_NavBarPartial")
    } else if (User.IsInRole("SalesAssistant"))
    {
        @Html.Partial("_RestrictedNavBarPartial")
    } else
    {
        @Html.Partial("_NoAccessNavBarPartial")
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PHP-SRePS - Team Elon - DP2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
