@model PHP_SRePS.ViewModels.TransactionHistoryViewModel


@using System.Collections.Generic;
@using System.Linq;
@using System.Web;

<!DOCTYPE html>
<html>
<body>
    <div class="jumbotron">
        <form class="form-group">
            <fieldset>
                <fieldset>
                    <legend>Sales History</legend>

                    <p>
                        <table class="table table-bordered table-hover ">
                            <thead>
                                <tr>
                                    <th>Sale ID</th>
                                    <th>Item ID</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                    <th>Notes</th>
                                    @if (User.IsInRole("Manager"))
                                    {
                                        <th></th>
                                        <th></th>
                                    }
                                </tr>
                            </thead>
                            @foreach (var SalesTransaction in Model.SalesTransactions)
                            {
                                <tr>
                                    <td>@SalesTransaction.Id</td>
                                    <td>@SalesTransaction.ItemId</td>
                                    <td>@Html.DisplayFor(model => SalesTransaction.Item.Name)</td>
                                    <td>@SalesTransaction.Quantity</td>
                                    <td>@SalesTransaction.TotalPrice</td>
                                    <td>@SalesTransaction.Notes</td>
                                    @if (User.IsInRole("Manager"))
                                    {
                                        <td>@Html.ActionLink("Edit", "Edit", "Sales", new { id = SalesTransaction.Id }, new { @class = "btn btn-primary" })</td>
                                        <td>@Html.ActionLink("Delete", "Delete", "Sales", new { id = SalesTransaction.Id }, new { @class = "btn btn-danger" })</td>
                                    }
                                </tr>
                            }
                        </table>
                    </p>
                </fieldset>
            </fieldset>
        </form>
        @Html.ActionLink("Go Back", "Index", "Sales", null, new { @class = "btn btn-primary" })
    </div>
</body>
</html>