@model PHP_SRePS.ViewModels.ReportingSummaryViewModel

@{
    ViewBag.Title = "Reporting Page";
}


<!DOCTYPE html>
<html>
<body>
    <div class="jumbotron">
        <h3>Monthly Sales Report</h3>
        <hr />
        <h4>Displaying Month: 2019</h4>
        <ul>
            <li>@Html.ActionLink("Show previous month", "DisplayMonthlyReport", "Reporting", new { month = Model.Month - 1 }, null)</li>
            <li>@Html.ActionLink("Show next month", "DisplayMonthlyReport", "Reporting", new { month = Model.Month + 1 }, null)</li>
        </ul>
        <form>
            <fieldset>
                <fieldset>
                    <p>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Item ID</th>
                                <th>Item Name</th>
                                <th>Unit Price</th>
                                <th>Quantity Sold</th>
                                <th>Total Value</th>
                            </tr>
                            @foreach(var itemSummary in Model.ItemSummaries)
                            {
                                <tr>
                                    <td>@itemSummary.ItemId</td>
                                    <td>@Model.Items.First(i => i.ItemId == itemSummary.ItemId).Name</td>
                                    <td>$@Model.Items.First(i => i.ItemId == itemSummary.ItemId).Price.ToString("0.00")</td>
                                    <td>@itemSummary.Quantity</td>
                                    <td>$@itemSummary.TotalPrice.ToString("0.00")</td>
                                </tr>
                            }
                        </table>
                    </p>
                </fieldset>
            </fieldset>
        </form>
        @Html.ActionLink("Go Back", "Index", "Reporting", null, new { @class = "btn btn-primary" })
    </div>
</body>
</html>