@model IEnumerable<PHP_SRePS.Models.Item>


@using System.Collections.Generic;
@using System.Linq;
@using System.Web;

<!DOCTYPE html>
<html>
<body>
    <div class="jumbotron">
        <form>
            <fieldset>
                <fieldset>
                    <legend>Inventory List</legend>

                    <p>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Item Code</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity On Hand</th>
                                <th>Item Notes</th>
                                <th>Tag</th>
                                @if (User.IsInRole("Manager"))
                                {
                                    <th></th>
                                }
                            </tr>
                            @foreach (var item in Model)
                            {
                        <tr>
                            <td>@item.ItemId</td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.QuantityOnHand</td>
                            <td>@item.ItemNotes</td>
                            <td>@item.Tag</td>
                            @if (User.IsInRole("Manager"))
                            {
                                <td>@Html.ActionLink("Edit", "Edit", "Inventory", new { id = item.ItemId }, new { @class = "btn btn-primary" })</td>
                                <td>@Html.ActionLink("Delete", "Delete", "Inventory", new { id = item.ItemId }, new { @class = "btn btn-danger" })</td>
                            }
                        </tr>
                            }
                        </table>
                    </p>
                </fieldset>
            </fieldset>
        </form>
        @Html.ActionLink("Go Back", "Index", "Inventory", null, new { @class = "btn btn-primary" })
    </div>
     </div>
</body>
</html>